<!-- login.component.html -->
<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title style="display: flex;align-items: center; justify-content: center;margin-bottom: 10px; color: rgb(0, 85, 24); font-weight: bold; font-size: larger;">Login</mat-card-title>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="input-field">
          <mat-label class="mat-label">User ID</mat-label>
          <input matInput [(ngModel)]="userId" name="userId" required />
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="input-field">
          <mat-label class="mat-label">Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required />
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="input-field">
          <mat-label class="mat-label">Role</mat-label>
          <select matNativeControl [(ngModel)]="role" name="role" required>
            <option value="Admin">Admin</option>
            <option value="Faculty">Faculty</option>
            <option value="Student">Student</option>
          </select>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" style="background-color: #006Db6; color: white;">Login</button>
      </form>
  
      <div class="links">
        <a routerLink="/forgot-password">Forgot Password?</a>
        <a routerLink="/create-account">Create Account</a>
      </div>
    </mat-card>
  </div>
  